/* Position and sizing of burger button */
.bm-burger-button {
	position: relative;
	width: 50px;
	height: 32px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: rgba(0, 0, 0, 0.8);
	height: 1px !important;
	width: 32px;
	transition: all 0.2s ease-in-out;

	&:nth-child(2) {
		width: 50px;
		background: rgba(0, 0, 0, 0.5);
	}
}
.menu-border {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	&:before {
		position: absolute;
		content: '';
		height: 0;
		width: 0;
		border: 4px solid transparent;
		bottom: 0;
		left: 0;
	}
	&:after {
		position: absolute;
		content: '';
		height: 0;
		width: 0;
		border: 4px solid transparent;
		top: 0;
		right: 0;
	}
}
.border-animation {
	&:before {
		border: 4px solid transparent;
		border-right: none;
		border-bottom: none;

		animation: before-animation 1s 0.4s forwards;
		-webkit-animation: before-animation 1s 0.4s forwards;
	}
	&:after {
		border: 4px solid transparent;
		border-left: none;
		border-top: none;

		animation: before-animation 1s 0.4s forwards;
		-webkit-animation: before-animation 1s 0.4s forwards;
	}
}
@keyframes before-animation {
	0% {
		height: 0;
		width: 0;
		border-color: white;
	}

	55% {
		height: 99.5%;
		width: 0;
	}
	100% {
		height: 99.5%;
		width: 100%;
		border-color: white;
	}
}
@-webkit-keyframes before-animation {
	0% {
		height: 0;
		width: 0;
		border-color: white;
	}

	55% {
		height: 99.5%;
		width: 0;
	}
	100% {
		height: 99.5%;
		width: 100%;
		border-color: white;
	}
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: rgba(0, 0, 0, 0.6);
	&:nth-child(1) {
		top: 6% !important;
	}
	&:nth-child(2) {
		background: black;
		left: 10% !important;
	}
	&:nth-child(3) {
		top: 74% !important;
	}
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}
.bm-cross-button span {
	background: white !important;
}
/* Color/shape of close button cross */
.bm-cross {
	color: white;
	background: #000;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	text-align: left;
	position: fixed;
	height: 30%;
	top: 0;
	left: 0;
}

#menu {
	margin: 0 auto;

	position: relative;
}
/* General sidebar styles */
.bm-menu {
	display: flex;
	justify-content: center;
	padding: 20% 5%;
	background-color: #000;
	position: relative;
	overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: rgba(0, 0, 0, 1);
	width: 100% !important;
}

/* Wrapper for item list */
.bm-item-list {
	color: #fff;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
	top: 0;
	left: 0;
	background: rgb(0, 0, 0);
}
