.contact {
  position: absolute;
  right: 10px;
  top: 5px;
  text-align: left;
  display: flex;
  flex-flow: wrap column;
}
.contact a {
  margin-top: 10px;
  text-decoration: none;
  color: black;
}
.header {
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  height: 80px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 8fr 1fr;
}

img {
  width: 100%;
  height: auto;
}
.logoLink {
  width: 100px;
  height: 100%;
}
