.videoExt {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 2%;
  margin-top: 150px;
  width: 90%;
}
.videoExtDesc {
  text-align: left;
  margin-top: 50px;

}

.videoExtDescP {
    padding-right: 25%;
}
.videoExtTeam {
  display: flex;
  justify-content: flex-start;
  width: 85%;

}
.videoExtTeam * {
  padding: 0;
  margin: 2px 0;
  margin-right: 5px;
}
.videoExtContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoExtVideo {
  min-width: 100%;
  position: relative;
}
.videoExtVideo iframe {
  width: 100%;
  height: 350px;
}
.null {
  position: absolute;
  display: none;
}
.moreByClient {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.clientImg {
  width: 100%;
}
.clientDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
}
.videoLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientHover {
  position:absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 0%;
  background: rgba(255,255,255,0.9);
  opacity: 0;
  transition: all .7s ease-in-out;
  z-index: -1;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.clientHover p {
  padding: 0 25%;
}
.clientDiv:hover .clientHover{
  opacity: 1;
  height: 100%;
  z-index: 1;
}
